#creator {
    position: absolute;
    bottom: 1px;
}

.clickable {
    background-color: rgb(231, 231, 243);
    transition: background-color 0.1s;
    border-radius: 5px;
    padding: 0px 5px;
    cursor: pointer;
}

.clickable:hover {
    background-color: rgb(203, 203, 247);
    transition: background-color 0.2s;
}
